<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }} | 1xTP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% seo %}
    
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/index.html"><h2>1xTP</h2></a>
        </div>
        <div class="nav-right">
            <a href="/about.html">About</a>
            <a href="/categories.html">Categories</a>
        </div>
    </nav>

    <div class="container">
        <aside class="profile-card" id="profileCard">
            <div class="sidebar-toggle" id="sidebarToggle">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="profile-img">
                <img src="/assets/raccoon-pfp.png" alt="1xTrashPanda" class="profile-pic">
            </div>
            
            <div class="profile-info-container">
                <div class="profile-nb-container">
                    <div class="profile-username">
                        <h3>1xTrashPanda</h3>
                    </div>
                    <p class="profile-bio">
                        Focus: <span class="accent">Offensive Security</span><br>
                        Specialty: <span class="accent">WebApps & AD</span>
                    </p>
                </div>

                <div class="profile-links">
                    <a href="https://github.com/1xTP" target="_blank">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </aside>

        <main class="web-content-container">
            {{ content }}
        </main>
    </div>
    <script>
        const toggleBtn = document.getElementById('sidebarToggle');
        const sidebar = document.querySelector('.profile-card');
        const overlay = document.getElementById('mobileOverlay');

        function toggleSidebar() {
            sidebar.classList.toggle('active');
            overlay.classList.toggle('active');
        }

        toggleBtn.addEventListener('click', toggleSidebar);

        overlay.addEventListener('click', toggleSidebar);
    </script>
</body>
</html>
